In [3]:
import pandas as pd
import numpy as np

In [3]:
profile_2017 = pd.read_csv('Chicago_Public_Schools_-_School_Profile_Information_SY1718.csv')

In [4]:
profile_2019 = pd.read_csv('Chicago_Public_Schools_-_School_Profile_Information_SY1819.csv')

In [31]:
profile_2019.head(20)

,School_ID,Legacy_Unit_ID,Finance_ID,Short_Name,Long_Name,Primary_Category,Is_High_School,Is_Middle_School,Is_Elementary_School,Is_Pre_School,...,Sixth_Contact_Name,Seventh_Contact_Title,Seventh_Contact_Name,Network,Is_GoCPS_Participant,Is_GoCPS_PreK,Is_GoCPS_Elementary,Is_GoCPS_High_School,Open_For_Enrollment_Date,Closed_For_Enrollment_Date
0,609952,3650,23431,GREENE,Nathanael Greene Elementary School,ES,False,False,True,True,...,NaN,NaN,NaN,Network 8,True,False,True,False,09/01/2004 12:00:00 AM,NaN
1,609869,2900,22841,LANGFORD,Anna R. Langford Community Academy,ES,False,True,True,True,...,NaN,NaN,NaN,Network 11,True,False,True,False,09/01/2004 12:00:00 AM,NaN
2,609896,3120,23021,DRUMMOND,Thomas Drummond Elementary School,ES,False,True,True,True,...,NaN,NaN,NaN,Network 6,True,True,True,False,09/01/2004 12:00:00 AM,NaN
3,610590,9687,26181,BRONZEVILLE CLASSICAL,Bronzeville Classical Elementary School,ES,False,False,True,False,...,NaN,NaN,NaN,Network 9,True,False,True,False,06/29/2018 12:00:00 AM,NaN
4,610087,4990,30071,BLAIR,Blair Early Childhood Center,ES,False,False,True,True,...,NaN,NaN,NaN,Network 10,False,False,False,False,09/01/2004 12:00:00 AM,NaN
5,610503,5850,29411,FRAZIER PROSPECTIVE,Frazier Prospective IB Magnet ES,ES,False,True,True,False,...,NaN,NaN,NaN,Network 5,True,False,True,False,07/01/2007 12:00:00 AM,NaN
6,400164,9628,66921,INSTITUTO - LOZANO HS,Instituto - Justice Lozano,HS,True,False,False,False,...,NaN,NaN,NaN,Options,False,False,False,False,07/01/2013 12:00:00 AM,NaN
7,610059,4680,24401,MAYER,Oscar F Mayer Elementary School,ES,False,True,True,True,...,NaN,NaN,NaN,Network 4,True,True,True,False,09/01/2004 12:00:00 AM,NaN
8,610206,6240,25661,TWAIN,Mark Twain Elementary School,ES,False,True,True,True,...,NaN,NaN,NaN,Network 10,True,False,True,False,09/01/2004 12:00:00 AM,NaN
9,609872,2930,22861,PEREZ,Manuel Perez Elementary School,ES,False,True,True,True,...,NaN,NaN,NaN,Network 7,True,False,True,False,09/01/2004 12:00:00 AM,NaN
10,400081,3341,66392,ACERO - DE LAS CASAS,Acero Charter Schools - Bartolomé de las Casas,ES,False,True,True,False,...,NaN,NaN,NaN,Charter,False,False,False,False,09/01/2004 12:00:00 AM,NaN
11,610381,7270,55191,BRONZEVILLE HS,Bronzeville Scholastic Academy High School,HS,True,False,False,False,...,NaN,NaN,NaN,Network 17,True,False,False,True,09/01/2004 12:00:00 AM,NaN
12,610304,7310,55011,PHOENIX MILITARY HS,Phoenix Military Academy High School,HS,True,False,False,False,...,NaN,NaN,NaN,ISP,True,False,False,True,09/01/2004 12:00:00 AM,NaN
13,609977,3860,23631,WOODLAWN,Woodlawn Community Elementary School,ES,False,False,True,True,...,NaN,NaN,NaN,Network 9,True,False,True,False,09/01/2004 12:00:00 AM,NaN
14,610329,7610,31281,OROZCO,Orozco Fine Arts & Sciences Elementary School,ES,False,True,True,True,...,Nisaini Rivera,NaN,NaN,Network 7,True,False,True,False,09/01/2004 12:00:00 AM,NaN
15,610091,5040,24631,BROWN R,Ronald Brown Elementary Community Academy,ES,False,True,True,True,...,NaN,NaN,NaN,Network 13,True,False,True,False,09/01/2004 12:00:00 AM,NaN
16,400114,8093,66601,ACERO - SANTIAGO,Acero Charter Schools - Esmeralda Santiago,ES,False,True,True,False,...,NaN,NaN,NaN,Charter,False,False,False,False,07/01/2011 12:00:00 AM,NaN
17,400079,3344,66395,ACERO - ZIZUMBO,Acero Charter Schools - SPC Daniel Zizumbo,ES,False,True,True,False,...,NaN,NaN,NaN,Charter,False,False,False,False,07/01/2008 12:00:00 AM,NaN
18,610015,4230,23961,JUNGMAN,Joseph Jungman Elementary School,ES,False,True,True,True,...,NaN,NaN,NaN,ISP,True,False,True,False,09/01/2004 12:00:00 AM,NaN
19,610217,6330,25751,WARD J,James Ward Elementary School,ES,False,True,True,True,...,NaN,NaN,NaN,ISP,True,False,True,False,09/01/2004 12:00:00 AM,NaN

In [106]:
test = profile_2017.columns
test

Index(['School_ID', 'Legacy_Unit_ID', 'Finance_ID', 'Short_Name', 'Long_Name',
       'Primary_Category', 'Is_High_School', 'Is_Middle_School',
       'Is_Elementary_School', 'Is_Pre_School', 'Summary',
       'Administrator_Title', 'Administrator', 'Secondary_Contact_Title',
       'Secondary_Contact', 'Phone', 'Fax', 'CPS_School_Profile', 'Website',
       'Facebook', 'Twitter', 'Youtube', 'Pinterest', 'Attendance_Boundaries',
       'Grades_Offered_All', 'Grades_Offered', 'Student_Count_Total',
       'Student_Count_Low_Income', 'Student_Count_Special_Ed',
       'Student_Count_English_Learners', 'Student_Count_Black',
       'Student_Count_Hispanic', 'Student_Count_White', 'Student_Count_Asian',
       'Student_Count_Native_American', 'Student_Count_Other_Ethnicity',
       'Student_Count_Asian_Pacific_Islander', 'Student_Count_Multi',
       'Student_Count_Hawaiian_Pacific_Islander',
       'Student_Count_Ethnicity_Not_Available', 'Statistics_Description',
       'Demographic_Description', 'Dress_Code', 'PreK_School_Day',
       'Kindergarten_School_Day', 'School_Hours', 'Freshman_Start_End_Time',
       'After_School_Hours', 'Earliest_Drop_Off_Time', 'Classroom_Languages',
       'Bilingual_Services', 'Refugee_Services', 'Title_1_Eligible',
       'PreSchool_Inclusive', 'Preschool_Instructional',
       'Significantly_Modified', 'Hard_Of_Hearing', 'Visual_Impairments',
       'Transportation_Bus', 'Transportation_El', 'Transportation_Metra',
       'Average_ACT_School', 'Mean_ACT', 'College_Enrollment_Rate_School',
       'College_Enrollment_Rate_Mean', 'Graduation_Rate_School',
       'Graduation_Rate_Mean', 'Overall_Rating', 'Rating_Status',
       'Rating_Statement', 'Classification_Description', 'School_Year',
       'Third_Contact_Title', 'Third_Contact_Name', 'Fourth_Contact_Title',
       'Fourth_Contact_Name', 'Fifth_Contact_Title', 'Fifth_Contact_Name',
       'Sixth_Contact_Title', 'Sixth_Contact_Name', 'Seventh_Contact_Title',
       'Seventh_Contact_Name', 'Network', 'Is_GoCPS_Participant',
       'Is_GoCPS_PreK', 'Is_GoCPS_Elementary', 'Is_GoCPS_High_School',
       'Open_For_Enrollment_Date', 'Closed_For_Enrollment_Date',
       'School_Latitude', 'School_Longitude', 'Location'],
      dtype='object')

In [112]:
demo_data_2019 = pd.read_excel('Demographics_RacialEthnic_2019.xls', 'Schools')

In [35]:
demo_data_2019.head()

,20th Day 2018-2019,Unnamed: 1,Unnamed: 2,Unnamed: 3,White,Unnamed: 5,African American,Unnamed: 7,Asian/ Pacific Islander (Retired),Unnamed: 9,...,Hispanic,Unnamed: 13,Multi-Racial,Unnamed: 15,Asian,Unnamed: 17,Hawaiian/ Pacific Islander,Unnamed: 19,Not Available,Unnamed: 21
0,Network,School ID,School Name,Total,No,Pct,No,Pct,No,Pct,...,No,Pct,No,Pct,No,Pct,No,Pct,No,Pct
1,NaN,NaN,District Total,361314,38016,10.5216,132194,36.587,20,0.00553535,...,168888,46.7427,4333,1.19923,14933,4.13297,616,0.170489,1253,0.34679
2,Network 1,610212,Albany Park Multicultural Academy,282,14,5,14,5,0,0,...,225,79.8,2,0.71,24,8.511,0,0,0,0
3,Network 1,610209,Alessandro Volta Elementary School,826,44,5.3,16,1.9,0,0,...,571,69.1,3,0.36,190,23.002,1,0.1211,1,0.121
4,Network 1,609836,Arthur E Canty Elementary School,825,418,50.7,21,2.5,0,0,...,339,41.1,13,1.58,30,3.636,1,0.1212,0,0

In [58]:
demo_ids, profile_ids = demo_data_2019.iloc[2:, 1], profile_2019.iloc[:, 0]

In [94]:
demo_ids.index = range(len(demo_ids))
set_demo = set(demo_ids)
set_profile = set(profile_ids)
set_demo = map(int, set_demo)
set_profile.difference(set_demo)

{400142, 610506, 610592}

only difference between the two sets are these school ids: 400142, 610506, 610592 which are in profile_ids but not in demo_ids
drop these ids?

In [104]:
profile_2019[(profile_2019['School_ID'] == 400142) | (profile_2019['School_ID'] == 610506)
            | (profile_2019['School_ID'] ==610592)]

,School_ID,Legacy_Unit_ID,Finance_ID,Short_Name,Long_Name,Primary_Category,Is_High_School,Is_Middle_School,Is_Elementary_School,Is_Pre_School,...,Sixth_Contact_Name,Seventh_Contact_Title,Seventh_Contact_Name,Network,Is_GoCPS_Participant,Is_GoCPS_PreK,Is_GoCPS_Elementary,Is_GoCPS_High_School,Open_For_Enrollment_Date,Closed_For_Enrollment_Date
29,610506,8080,49161,TEAM HS,TEAM Englewood Community Academy High School,HS,True,False,False,False,...,NaN,NaN,NaN,Network 16,True,False,False,True,07/01/2007 12:00:00 AM,NaN
33,610592,9692,0,ENGLEWOOD STEM HS,Englewood STEM High School,HS,True,False,False,False,...,NaN,NaN,NaN,NaN,True,False,NaN,True,07/01/2019 12:00:00 AM,NaN
643,400142,9059,66626,YCCS - VIRTUAL,YCCS-Virtual HS,HS,True,False,False,False,...,NaN,NaN,NaN,Options,False,False,False,False,07/01/2012 12:00:00 AM,NaN

In [109]:
profile_2019[['School_ID', 'Student_Count_Total',
       'Student_Count_Low_Income', 'Student_Count_Special_Ed',
       'Student_Count_English_Learners', 'Student_Count_Black',
       'Student_Count_Hispanic', 'Student_Count_White', 'Student_Count_Asian',
       'Student_Count_Native_American', 'Student_Count_Other_Ethnicity',
       'Student_Count_Asian_Pacific_Islander', 'Student_Count_Multi',
       'Student_Count_Hawaiian_Pacific_Islander',
       'Student_Count_Ethnicity_Not_Available']]

,School_ID,Student_Count_Total,Student_Count_Low_Income,Student_Count_Special_Ed,Student_Count_English_Learners,Student_Count_Black,Student_Count_Hispanic,Student_Count_White,Student_Count_Asian,Student_Count_Native_American,Student_Count_Other_Ethnicity,Student_Count_Asian_Pacific_Islander,Student_Count_Multi,Student_Count_Hawaiian_Pacific_Islander,Student_Count_Ethnicity_Not_Available
0,609952,415,391,43,197,11,366,20,10,1,0,0,6,0,1
1,609869,241,231,23,1,232,8,0,0,0,0,0,1,0,0
2,609896,346,75,31,20,26,104,154,17,1,0,0,44,0,0
3,610590,91,24,3,1,56,6,8,16,0,0,0,5,0,0
4,610087,248,150,190,75,23,174,47,1,0,0,0,1,2,0
5,610503,198,177,21,1,194,3,0,0,0,0,0,0,1,0
6,400164,78,73,10,24,0,77,0,0,1,0,0,0,0,0
7,610059,760,85,77,22,53,106,556,24,3,0,0,7,11,0
8,610206,1094,875,107,208,15,943,126,4,2,0,0,4,0,0
9,609872,318,294,45,115,6,299,8,4,0,0,0,1,0,0
10,400081,263,234,36,117,3,259,1,0,0,0,0,0,0,0
11,610381,209,148,38,3,203,5,0,1,0,0,0,0,0,0
12,610304,537,475,38,37,82,435,5,9,2,0,0,2,2,0
13,609977,209,194,14,0,205,4,0,0,0,0,0,0,0,0
14,610329,536,504,66,213,9,522,1,2,1,0,0,1,0,0
15,610091,357,316,61,1,350,4,0,0,1,0,0,1,0,1
16,400114,273,257,44,138,6,260,5,1,1,0,0,0,0,0
17,400079,635,560,60,282,1,619,10,2,2,0,0,1,0,0
18,610015,286,252,94,130,35,221,12,10,6,0,0,2,0,0
19,610217,551,446,40,258,75,55,32,384,2,0,0,3,0,0
20,400021,514,413,48,1,496,13,0,2,0,0,0,3,0,0
21,609698,824,735,195,96,498,320,3,0,1,0,0,1,1,0
22,400030,531,457,77,250,31,493,3,1,1,0,0,2,0,0
23,400101,520,496,49,263,4,508,4,1,2,0,0,0,0,1
24,609866,1020,146,116,51,19,210,667,44,1,0,0,75,4,0
25,609769,112,103,112,34,53,48,4,6,0,0,0,1,0,0
26,400084,288,265,45,173,3,283,0,0,2,0,0,0,0,0
27,610126,567,442,56,20,537,15,3,6,0,0,0,6,0,0
28,610325,701,650,83,263,32,648,9,4,2,0,0,3,3,0
29,610506,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630,400136,93,79,12,2,77,13,0,0,0,0,0,0,0,3
631,609746,1862,1065,108,23,1571,88,92,51,6,0,0,46,3,5
632,610077,604,582,63,231,220,378,5,0,1,0,0,0,0,0
633,609820,552,78,63,9,12,98,362,48,1,0,0,31,0,0
634,609985,361,348,43,0,342,15,1,0,0,0,0,0,0,3
635,610227,889,858,88,479,1,878,8,0,2,0,0,0,0,0
636,610037,349,300,60,63,253,93,0,0,0,0,0,3,0,0
637,609945,689,605,80,313,172,186,49,269,3,0,0,9,1,0
638,400029,483,440,54,1,475,1,1,0,0,0,0,0,0,6
639,610390,458,396,52,30,35,352,38,28,2,0,0,3,0,0
640,610132,197,73,5,2,176,12,4,0,0,0,0,4,1,0
641,609880,284,44,11,0,12,42,124,88,0,0,0,17,1,0
642,610499,219,211,45,0,213,5,0,0,0,0,0,0,1,0
643,400142,0,0,0,0,0,0,0,0,0,0,0,0,0,0
644,609926,361,148,32,13,159,70,93,30,0,0,0,9,0,0
645,610081,553,263,33,47,96,121,83,234,0,0,0,17,2,0
646,400078,85,57,15,1,85,0,0,0,0,0,0,0,0,0
647,609894,334,294,56,5,320,10,1,1,0,0,0,1,0,1
648,610016,266,97,41,1,227,8,20,0,1,0,0,10,0,0
649,610060,524,214,40,61,154,166,81,103,2,0,0,18,0,0
650,609795,233,208,15,38,145,71,7,4,3,0,0,1,2,0
651,610589,92,44,5,21,6,75,6,2,1,0,0,1,0,1
652,610002,242,187,30,0,240,2,0,0,0,0,0,0,0,0
653,400071,462,415,46,8,443,16,2,0,0,0,0,1,0,0
654,610547,646,531,58,6,624,16,1,0,0,0,0,5,0,0
655,609901,509,74,51,30,10,85,338,44,0,0,0,31,1,0
656,609963,507,68,50,21,26,81,350,22,0,0,0,28,0,0
657,400032,341,314,74,0,341,0,0,0,0,0,0,0,0,0
658,609749,1086,476,59,6,81,325,291,220,5,0,7,37,3,117
659,609679,1308,1166,169,79,249,1020,25,5,6,0,0,2,1,0

In [24]:
profile_2017_dropped = profile_2017.drop([0,1, 173])
# reindex???

In [25]:
profile_2017_dropped.iloc[2, :]

School_ID                                                                    609884
Legacy_Unit_ID                                                                 3020
Finance_ID                                                                    22941
Short_Name                                                                    DEVER
Long_Name                                         William E Dever Elementary School
Primary_Category                                                                 ES
Is_High_School                                                                    N
Is_Middle_School                                                                  Y
Is_Elementary_School                                                              Y
Is_Pre_School                                                                     Y
Summary                           Dever strives to meet the academic and social-...
Administrator_Title                                                       Principal
Administrator                                                         Jason F Major
Secondary_Contact_Title                                         Assistant Principal
Secondary_Contact                                                       Rachel Mota
Phone                                                                   7.73534e+09
Fax                                                                     7.73534e+09
CPS_School_Profile                http://cps.edu/Schools/Pages/school.aspx?Schoo...
Website                                                       http://dever.cps.edu/
Facebook                                                                        NaN
Twitter                                                                         NaN
Youtube                                                                         NaN
Pinterest                                                                       NaN
Attendance_Boundaries                                                             Y
Grades_Offered_All                                             PK,K,1,2,3,4,5,6,7,8
Grades_Offered                                                               PK,K-8
Student_Count_Total                                                             742
Student_Count_Low_Income                                                        255
Student_Count_Special_Ed                                                         88
Student_Count_English_Learners                                                  228
                                                        ...
Mean_ACT                                                                        NaN
College_Enrollment_Rate_School                                                  NaN
College_Enrollment_Rate_Mean                                                    NaN
Graduation_Rate_School                                                          NaN
Graduation_Rate_Mean                                                            NaN
Overall_Rating                                                              Level 1
Rating_Status                                                         GOOD STANDING
Rating_Statement                  This school received a Level 1 rating, which i...
Classification_Description        Schools that have an attendance boundary. Gene...
School_Year                                                   School Year 2017-2018
Third_Contact_Title                                                             NaN
Third_Contact_Name                                                              NaN
Fourth_Contact_Title                                                            NaN
Fourth_Contact_Name                                                             NaN
Fifth_Contact_Title                                                             NaN
Fifth_Contact_Name                                                              NaN
Sixth_Contact_Title                                                             NaN
Sixth_Contact_Name                                                              NaN
Seventh_Contact_Title                                                           NaN
Seventh_Contact_Name                                                            NaN
Network                                                                   Network 1
Is_GoCPS_Participant                                                              Y
Is_GoCPS_PreK                                                                     N
Is_GoCPS_Elementary                                                               Y
Is_GoCPS_High_School                                                              N
Open_For_Enrollment_Date                                     09/01/2004 12:00:00 AM
Closed_For_Enrollment_Date                                                      NaN
School_Latitude                                                             41.9426
School_Longitude                                                           -87.8131
Location                          3436 N OSCEOLA AVE\nChicago, Illinois 60634\n(...
Name: 4, Length: 92, dtype: object

In [26]:
profile_2017_dropped['Attendance_Boundaries']

2      N
3      N
4      Y
5      N
6      N
7      N
8      N
9      N
10     N
11     N
12     N
13     N
14     N
15     N
16     N
17     Y
18     Y
19     Y
20     Y
21     N
22     Y
23     N
24     N
25     Y
26     N
27     N
28     N
29     N
30     Y
31     Y
      ..
631    Y
632    N
633    Y
634    Y
635    Y
636    N
637    N
638    N
639    Y
640    N
641    Y
642    Y
643    Y
644    Y
645    Y
646    Y
647    Y
648    N
649    N
650    N
651    Y
652    N
653    N
654    Y
655    Y
656    N
657    N
658    Y
659    N
660    N
Name: Attendance_Boundaries, Length: 658, dtype: object

In [111]:
demo_data_2019

,20th Day 2018-2019,Unnamed: 1,Unnamed: 2,Unnamed: 3,White,Unnamed: 5,African American,Unnamed: 7,Asian/ Pacific Islander (Retired),Unnamed: 9,...,Hispanic,Unnamed: 13,Multi-Racial,Unnamed: 15,Asian,Unnamed: 17,Hawaiian/ Pacific Islander,Unnamed: 19,Not Available,Unnamed: 21
0,Network,School ID,School Name,Total,No,Pct,No,Pct,No,Pct,...,No,Pct,No,Pct,No,Pct,No,Pct,No,Pct
1,NaN,NaN,District Total,361314,38016,10.5216,132194,36.587,20,0.00553535,...,168888,46.7427,4333,1.19923,14933,4.13297,616,0.170489,1253,0.34679
2,Network 1,610212,Albany Park Multicultural Academy,282,14,5,14,5,0,0,...,225,79.8,2,0.71,24,8.511,0,0,0,0
3,Network 1,610209,Alessandro Volta Elementary School,826,44,5.3,16,1.9,0,0,...,571,69.1,3,0.36,190,23.002,1,0.1211,1,0.121
4,Network 1,609836,Arthur E Canty Elementary School,825,418,50.7,21,2.5,0,0,...,339,41.1,13,1.58,30,3.636,1,0.1212,0,0
5,Network 1,610083,Daniel C Beard Elementary School,228,84,36.8,12,5.3,0,0,...,94,41.2,4,1.75,32,14.035,1,0.4386,0,0
6,Network 1,609901,Edgebrook Elementary School,509,340,66.8,10,2,0,0,...,85,16.7,31,6.09,42,8.251,1,0.1965,0,0
7,Network 1,610523,Edison Park Elementary School,545,392,71.9,7,1.3,0,0,...,110,20.2,7,1.28,28,5.138,0,0,0,0
8,Network 1,610137,Ernst Prussing Elementary School,727,322,44.3,12,1.7,0,0,...,330,45.4,10,1.38,41,5.64,8,1.1004,0,0
9,Network 1,609874,Everett McKinley Dirksen Elementary School,936,667,71.3,22,2.4,0,0,...,101,10.8,6,0.64,134,14.316,4,0.4274,0,0
10,Network 1,610163,Frederick Stock Elementary School,229,166,72.5,1,0.4,0,0,...,46,20.1,3,1.31,12,5.24,1,0.4367,0,0
11,Network 1,609857,Grover Cleveland Elementary School,555,48,8.6,23,4.1,0,0,...,435,78.4,7,1.26,33,5.946,1,0.1802,0,0
12,Network 1,610182,Hannah G Solomon Elementary School,362,151,41.7,18,5,0,0,...,58,16,6,1.66,129,35.635,0,0,0,0
13,Network 1,609972,Helge A Haugan Elementary School,891,52,5.8,35,3.9,0,0,...,751,84.3,5,0.56,45,5.051,1,0.1122,0,0
14,Network 1,609798,Hiram H Belding Elementary School,583,255,43.7,31,5.3,0,0,...,240,41.2,19,3.26,20,3.431,8,1.3722,6,1.029
15,Network 1,609912,James B Farnsworth Elementary School,585,223,38.1,14,2.4,0,0,...,250,42.7,10,1.71,83,14.188,4,0.6838,0,0
16,Network 1,609796,Jean Baptiste Beaubien Elementary School,1047,402,38.4,18,1.7,0,0,...,376,35.9,69,6.59,169,16.141,9,0.8596,0,0
17,Network 1,610089,John B Murphy Elementary School,543,95,17.5,17,3.1,0,0,...,396,72.9,17,3.13,15,2.762,1,0.1842,0,0
18,Network 1,610111,John Palmer Elementary School,758,219,28.9,7,0.9,0,0,...,360,47.5,9,1.19,122,16.095,37,4.8813,0,0
19,Network 1,609937,John W Garvy Elementary School,830,483,58.2,7,0.8,0,0,...,248,29.9,23,2.77,45,5.422,22,2.6506,0,0
20,Network 1,610159,Jonathan Y Scammon Elementary School,710,46,6.5,11,1.5,0,0,...,633,89.2,4,0.56,9,1.268,3,0.4225,0,0
21,Network 1,610127,Mary Gage Peterson Elementary School,888,243,27.4,54,6.1,0,0,...,333,37.5,29,3.27,219,24.662,3,0.3378,3,0.338
22,Network 1,609792,Newton Bateman Elementary School,948,113,11.9,24,2.5,0,0,...,754,79.5,17,1.79,32,3.376,3,0.3165,0,0
23,Network 1,609810,Norman A Bridge Elementary School,1112,423,38,21,1.9,0,0,...,587,52.8,26,2.34,49,4.406,2,0.1799,0,0
24,Network 1,610354,North River Elementary School,300,20,6.7,4,1.3,0,0,...,259,86.3,1,0.33,9,3,4,1.3333,0,0
25,Network 1,610099,Norwood Park Elementary School,442,250,56.6,3,0.7,0,0,...,148,33.5,18,4.07,22,4.977,0,0,0,0
26,Network 1,610105,Oriole Park Elementary School,739,493,66.7,14,1.9,0,0,...,165,22.3,11,1.49,54,7.307,1,0.1353,0,0
27,Network 1,609988,Patrick Henry Elementary School,522,37,7.1,20,3.8,0,0,...,439,84.1,3,0.57,11,2.107,2,0.3831,0,0
28,Network 1,610145,Peter A Reinberg Elementary School,746,137,18.4,16,2.1,0,0,...,556,74.5,11,1.47,18,2.413,2,0.2681,2,0.268
29,Network 1,610135,Portage Park Elementary School,910,255,28,25,2.7,0,0,...,570,62.6,12,1.32,15,1.648,10,1.0989,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629,Options,400176,Camelot Excel - Southwest HS,124,1,0.8,102,82.3,0,0,...,19,15.3,2,1.61,0,0,0,0,0,0
630,Options,610572,Camelot Safe Elementary,1,0,0,1,100,0,0,...,0,0,0,0,0,0,0,0,0,0
631,Options,610573,Camelot Safe HS,5,0,0,2,40,0,0,...,3,60,0,0,0,0,0,0,0,0
632,Options,400164,Instituto - Justice Lozano,91,1,1.1,0,0,0,0,...,89,97.8,0,0,0,0,0,0,0,0
633,Options,400137,Little Black Pearl Art and Design Academy,110,0,0,108,98.2,0,0,...,1,0.9,1,0.91,0,0,0,0,0,0
634,Options,610569,Ombudsman Chicago- Northwest,245,60,24.5,11,4.5,0,0,...,153,62.4,7,2.86,9,3.673,0,0,0,0
635,Options,610570,Ombudsman Chicago- South,443,12,2.7,243,54.9,0,0,...,185,41.8,1,0.23,1,0.226,0,0,0,0
636,Options,610571,Ombudsman Chicago- West,325,10,3.1,183,56.3,0,0,...,123,37.8,3,0.92,2,0.615,3,0.9231,0,0
637,Options,610557,Pathways in Education- Ashburn,266,19,7.1,70,26.3,0,0,...,173,65,2,0.75,1,0.376,0,0,0,0
638,Options,610568,Pathways in Education- Avondale,271,24,8.9,16,5.9,0,0,...,215,79.3,3,1.11,9,3.321,2,0.738,0,0
639,Options,400173,Pathways in Education- Brighton Park,354,20,5.6,11,3.1,0,0,...,318,89.8,2,0.56,1,0.282,0,0,1,0.282
640,Options,400123,YCCS- Academy of Scholastic Achievement HS,168,0,0,161,95.8,0,0,...,6,3.6,0,0,0,0,0,0,0,0
641,Options,400133,YCCS- Innovations HS of Arts Integration,406,1,0.2,373,91.9,0,0,...,30,7.4,1,0.25,0,0,1,0.2463,0,0
642,Options,400124,YCCS- McKinley Lakeside Leadership HS,156,1,0.6,152,97.4,0,0,...,3,1.9,0,0,0,0,0,0,0,0
643,Options,400125,"YCCS-ASPIRA,Antonia Pantoja Alternative HS",173,5,2.9,5,2.9,0,0,...,161,93.1,0,0,0,0,1,0.578,0,0
644,Options,400126,YCCS-Association House HS,129,4,3.1,33,25.6,0,0,...,91,70.5,1,0.78,0,0,0,0,0,0
645,Options,400127,YCCS-Austin Career Education Center HS,108,0,0,107,99.1,0,0,...,1,0.9,0,0,0,0,0,0,0,0
646,Options,400128,YCCS-CCA Academy HS,153,0,0,150,98,0,0,...,2,1.3,1,0.65,0,0,0,0,0,0
647,Options,400150,YCCS-Chatham AcademyHS,174,0,0,172,98.9,0,0,...,2,1.1,0,0,0,0,0,0,0,0
648,Options,400130,YCCS-Community Youth Development Institute HS,138,0,0,135,97.8,0,0,...,0,0,0,0,0,0,0,0,1,0.725
649,Options,400131,YCCS-Dr. Pedro Albizu Campos Puerto Rican HS,186,1,0.5,46,24.7,0,0,...,135,72.6,1,0.54,0,0,1,0.5376,0,0
650,Options,400134,YCCS-Jane Addams Alternative HS,211,7,3.3,54,25.6,0,0,...,150,71.1,0,0,0,0,0,0,0,0
651,Options,400135,YCCS-Latino Youth Alternative HS,219,0,0,23,10.5,0,0,...,194,88.6,0,0,1,0.457,0,0,0,0
652,Options,400136,YCCS-Olive Harvey Middle College HS,101,0,0,85,84.2,0,0,...,14,13.9,0,0,0,0,0,0,2,1.98
653,Options,400129,YCCS-Progressive Leadership Academy,186,0,0,183,98.4,0,0,...,3,1.6,0,0,0,0,0,0,0,0
654,Options,400139,YCCS-Sullivan House Alternative HS,326,0,0,313,96,0,0,...,12,3.7,1,0.31,0,0,0,0,0,0
655,Options,400141,YCCS-Truman Middle College HS,222,20,9,69,31.1,0,0,...,101,45.5,7,3.15,20,9.009,1,0.4505,0,0
656,Options,400143,YCCS-West Town Acad Alternative HS,176,1,0.6,107,60.8,0,0,...,66,37.5,1,0.57,0,0,0,0,0,0
657,Options,400144,YCCS-Westside Holistic Leadership Acad HS,156,2,1.3,105,67.3,0,0,...,49,31.4,0,0,0,0,0,0,0,0
658,Options,400145,YCCS-Youth Connection Leadership Acad HS,221,1,0.5,212,95.9,0,0,...,7,3.2,1,0.45,0,0,0,0,0,0

In [7]:
profile_2019.columns

Index(['School_ID', 'Legacy_Unit_ID', 'Finance_ID', 'Short_Name', 'Long_Name',
       'Primary_Category', 'Is_High_School', 'Is_Middle_School',
       'Is_Elementary_School', 'Is_Pre_School', 'Summary',
       'Administrator_Title', 'Administrator', 'Secondary_Contact_Title',
       'Secondary_Contact', 'Address', 'City', 'State', 'Zip', 'Phone', 'Fax',
       'CPS_School_Profile', 'Website', 'Facebook', 'Twitter', 'Youtube',
       'Pinterest', 'Attendance_Boundaries', 'Grades_Offered_All',
       'Grades_Offered', 'Student_Count_Total', 'Student_Count_Low_Income',
       'Student_Count_Special_Ed', 'Student_Count_English_Learners',
       'Student_Count_Black', 'Student_Count_Hispanic', 'Student_Count_White',
       'Student_Count_Asian', 'Student_Count_Native_American',
       'Student_Count_Other_Ethnicity', 'Student_Count_Asian_Pacific_Islander',
       'Student_Count_Multi', 'Student_Count_Hawaiian_Pacific_Islander',
       'Student_Count_Ethnicity_Not_Available', 'Statistics_Description',
       'Demographic_Description', 'Dress_Code', 'PreK_School_Day',
       'Kindergarten_School_Day', 'School_Hours', 'Freshman_Start_End_Time',
       'After_School_Hours', 'Earliest_Drop_Off_Time', 'Classroom_Languages',
       'Bilingual_Services', 'Refugee_Services', 'Title_1_Eligible',
       'PreSchool_Inclusive', 'Preschool_Instructional',
       'Significantly_Modified', 'Hard_Of_Hearing', 'Visual_Impairments',
       'Transportation_Bus', 'Transportation_El', 'Transportation_Metra',
       'School_Latitude', 'School_Longitude', 'Average_ACT_School', 'Mean_ACT',
       'College_Enrollment_Rate_School', 'College_Enrollment_Rate_Mean',
       'Graduation_Rate_School', 'Graduation_Rate_Mean', 'Overall_Rating',
       'Rating_Status', 'Rating_Statement', 'Classification_Description',
       'School_Year', 'Third_Contact_Title', 'Third_Contact_Name',
       'Fourth_Contact_Title', 'Fourth_Contact_Name', 'Fifth_Contact_Title',
       'Fifth_Contact_Name', 'Sixth_Contact_Title', 'Sixth_Contact_Name',
       'Seventh_Contact_Title', 'Seventh_Contact_Name', 'Network',
       'Is_GoCPS_Participant', 'Is_GoCPS_PreK', 'Is_GoCPS_Elementary',
       'Is_GoCPS_High_School', 'Open_For_Enrollment_Date',
       'Closed_For_Enrollment_Date'],
      dtype='object')

In [10]:
profile_2019['Student_Count_Other_Ethnicity'].unique()

array([0])

In [ ]:
profile_2019.